@model IEnumerable<WebApplication1.Areas.AccountCategory.Models.AccountCategoryModel>;
@using WebApplication1.Areas.AccountCategory.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>this is account category list page 123</h1>




<table class="table table-striped table-hover">
    <thead>
        <tr>
            @Html.ActionLink("Add","Edit")
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th colspan="2" style="text-align: center">Action</th>
        </tr>
    </thead>
    <tbody id="new_2">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountCategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                

                @*<td>
                    <a href="@Url.Action("Edit","Booking",new {BookingID=item.BookingID})" class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete","Booking",new {BookingID=item.BookingID})" class="btn btn-outline-danger" onclick="DeletePopUp()">
                        Delete
                    </a>
                </td>*@
            </tr>
        }
    </tbody>
</table>